doctype html
html
  head
    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  body
    div.container
        div.jumbotron.text-center
            h1
                spam.fa.fa-lock
                x Node Authentication
            p Login or Register with:
            a.btn.btn-default(href="/login")
                span.fa.fa-user
                x Local Login
            a.btn.btn-default(href="/signup")
                span.fa.fa-user
                x Local Signup