doctype html
html
  head
    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  body
    div.container
        div.col-sm-6.col-sm-offset-3
        h1
            span.fa.fa-sign-in
            x Signup
        -if(message.length > 0)
            div.alert.alert-danger #{message}

        form(action="/signup" method="post")
            div.form-group
                label Email
                input.form-control(type="text" name="email")
            div.form-group
                label tipo
                input.form-control(type="text" name="tipo")
            div.form-group
                label Password
                input.form-control(type="password" name="password")

            button.btn.btn-warning.btn-lg(type="submit") Signup
        p Already have an account?
            a(href="/login") Login
        p Or go 
            a(href="/") home